.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr repeat(10,1fr) ;
    .logo{
        grid-column: 2;
        border-right: 0.2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        mat-icon{
            scale: 1.4;
        }
    }
    .options{
        grid-column: 3/12;
        display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr );
        color: white;
        .selected{
            background-color: #E4737D;
            color:#444655 ;
            border-bottom: 1px solid  #444655;
        }
        .option{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            cursor: pointer;
            transition: all 1s ease;
        }
        .option:hover{
            background-color: #E4737D;
            color:#444655 ;
        }
        .option-1{
            border-right: 0.2px dashed  white;

            
        }
        .option-2{

            border-right: 0.2px dashed  white;

        }
        .option-3{
            border-right: 0.2px dashed  white;


        }
    }
}