<div class="container">
  <div class="logo">
    <mat-icon>cloud_queue</mat-icon>
    HRCloud
  </div>
  <div class="options">
    <div class="option-1 option">
      <mat-icon>supervisor_account</mat-icon>  Administrare Personal
    </div>
    <div class="option-2 option">
      <mat-icon>timeline</mat-icon> Rapoarte
    </div>
    <div class="option-3 option">
      <mat-icon>access_time</mat-icon>  Pontaj
    </div>
    <div class="option-4 option">
      <mat-icon>library_books</mat-icon> Fisiere
    </div>
  </div>
</div>